@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    background-color: #f85606;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto;
}
.top-bar p{
    margin: 0;
}
.top-bar-para{
    display: flex;
    gap: 20px;
    font-weight: 600;
}
.top-bar .top-bar-logo>img{
    width: 20px;
}
.top-bar-logo{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    width: 150px;
    padding: 0px 7px 4px 1px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.nav-input{
    position: relative;
    display: flex;
    align-items: center;

}
.nav-input i{
    position: absolute;
    color: #f85606;
    right: 20px;
    background: rgba(248, 89, 6, 0.2);
    padding: 7px 18px;
    border-radius: 8px;
}
.nav-icon{
    justify-content: space-evenly;
}
.login{
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-right: 15px;
}
.fa-cart-shopping{
    font-size: 25px;
}
.shop-more-card{
    display: none;
    width: 300px;
    
}
.top-bar-logo:hover{
    cursor: pointer;
}