@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5 !important;
}

.main-container {
    width: 1240px;
    margin: 0 auto;
}

nav {
    background: #f85606;
    width: 100%;
    min-width: 1240px;
}

.iz-top-bar {
    width: 1240px;
}

.top-bar {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
    font-size: 12px;
    align-items: center;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 40px;
    border: 1px solid #ccc;

}

.top-para {
    gap: 20px;
}

.trigger:hover+.tooltip-content {
    display: block;
}

.d-logo {
    width: 25px;

}

.tooltip-content>img {
    width: 300px;
}

.social-btn>img {
    width: 140px;
    margin-left: 10px;
}

.tooltip-container>span {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 8px 8px;
    padding: 5px;
    height: 35px;
}

.input-con input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
}

.input-con {
    position: relative;
    display: flex;
    align-items: center;
}

.input-con i {
    position: absolute;
    right: 15px;
    top: 5px;
    background: rgba(248, 86, 6, 0.1);
    border-radius: 8px;
    padding: 7px 15px;
    color: #f85606;
}

.input-con i:hover {
    background: rgba(248, 86, 6, 0.4);
}

.navbar {
    width: 1240px;
}

.navbar img {
    width: 150px;
    padding: 0px 20px;
    cursor: pointer;
}

.nav-icon span {
    border-radius: 8px;
    color: #fff;
    padding: 7px 12px;
    font-weight: 700;
    cursor: pointer;

}

.nav-icon span:hover {
    background: rgba(0, 0, 0, 0.2);
}

.nav-icon {
    justify-content: space-around;
}

.lang i {
    margin-right: 5px;
}

.fa-angle-down {
    font-size: 12px;
}

.fa-cart-shopping {
    font-size: 25px;
}

.side-bar {
    background-color: #ffffff;
    border-radius: 20px;
    width: 250px;
    height: 380px;
    margin-top: 20px;
    padding: 10px;
    margin-left: 25px;
    position: relative;
}

.side-bar li {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;

}

.tooltip {
    position: absolute;
    margin-right: -120px;
}
.abc{
    position: absolute;
    right: -220px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 200px;
    height: 380px;
    top: -9px;
    padding: 10px;
    display: none;
    font-size: .8rem;
    font-weight: 400;
    color: #8d8b8b;
    z-index: 99999 ;
}
.abc p{
    margin-bottom: 10px !important;
}
.side-bar li:hover .abc{
    display: block;
}
.health{
    top: -40px;
}

.side-bar li i {
    margin-left: 10px;
    /* Adjust as needed */
}

.side-bar li:hover {
    color: #f85606;
    background-color: #F5F5F5;
}

.side-bar li i {
    display: none;
    text-align: end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.side-bar li:hover i {
    display: inline-block;
    color: #f85606;
}

ul {
    padding: 0 !important;
    margin: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: 500;
    color: #8d8b8b;

}
.automotive{
    top: -335px;
}
.watch-bag{
    top: -305px;
}
.sports-outdoor{
    top: -275px;
}
.tv-home{
    top: -245px;
}
.elec-assesories{
    top: -215px;
}
.electronic-device{
    top: -185px;
}
.home-lifestyle{
    top: -158px;
}
.mother-baby{
    top: -128px;
}
.womens-fashion{
    top: -98px;
}
.mens-fashion{
    top: -68px;
}
.hero-section{
    display: flex;
}
.slideshow-container {
    max-width: 940px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding:  12px 5px;
    margin-top: -22px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.daraz-tags ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    background-color: #FFF1EB;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 20px;
    height: 45px;
    
}
.daraz-tags li{
    padding: 0px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
.daraz-tags ul .verified{
    border: none;
}
.daraz-tags a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.9);
}
.daraz-tags span{
    margin-right: 5px;
}
.daraz-tags i{
    margin-left: 10px;
}
.header{
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.header img{
    margin: 0 auto;
}
.category-card{
    width: 100%;
    background-color: #F5F5F5;
    padding: 0px 10px;
}
.category-card ul{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 8px;
    
}

.category-card li span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.category-card li{
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
}
.category-card ul li span img{
    width: 80px;
    height: 80px;
}
.category-card ul .flash{
    border: none;
}
.category-card ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
}
.category-card li a:hover{
    color: #f85606;
}
.sale-timer{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: #ffffff;
}
.sale-para{
    display: flex;
    width: 40%;
    justify-content: space-between;

}
.sale-para span{
    padding: 8px 15px;
    background-color: #f85606;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    
}